
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form span {
    color: red;
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    border: none;
    background: #307934;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  button:hover {
    background: #d79615;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  